@font-face {
  font-family: 'MyFont';
  src: url('./Kalam.woff') format('truetype');
  font-weight: 600;
  font-style: auto;
}

.hello {
  color: purple;
  font-family: 'MyFont';
  font-size: 25px;
  background: url('./icon.png');
}

